<div class="container" fxLayoutAlign="space-between center">
  
  <div  fxLayout="row" fxLayoutAlign="space-around center">
    <img class="logo" src="../../assets/logo-spotify.png">
    <div class="links">
      <a routerLink=''>Browse</a>
      <a routerLink='/your-music'>Your Music</a>
    </div>    
  </div>
  

  <div class="music-search"  fxLayout="row" fxLayoutAlign="end center">
    <form>
      <mat-form-field>
        <input matInput placeholder="Search music">
      </mat-form-field>
    </form>
    
    <button mat-icon-button>
      <fa-icon [icon]="search"></fa-icon>
    </button>

    <img class="profile-pic" src="../../assets/profile-pic.jpg" alt="Avatar">
  </div>
  
  
</div>