.container {
    color: #17D662;
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;

    .logo {
      height: 40px;
      margin-left: 30px;
      margin-right: 15px;
    }

    .links a {
      margin-right: 20px;
      text-decoration: none;
      color: #17D662;
    }

    .music-search {
      color: gray;
      margin-right: 30px;
    }

    .profile-pic {
      border-radius: 50%;
      width: 50px;
    }
}


  