.music-card {
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    height: 100px;
    margin-left: 30px;  
    color: #FFF;  

    background-color: #000;

    .icon {
        font-size: 50px;
        width: 60px;
        max-height: 48px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.fdw-background { 
    background-color:rgba(0,0,0,0.6);
    opacity:0.9;  
    width: 148px;
    height: 148px;
    margin: -147px;
} 
   