// Needs latest Compass, add '@import "compass"' to your scss
// Permalink - use to edit and share this gradient:
// http://colorzilla.com/gradient-editor/#1f3935+0,4f8e8c+42,4f8e8c+45,4f8e8c+50,4f8e8c+50,4f8e8c+53,4f8e8c+60,294b49+100
//background-color: rgb(31,57,53); // Old browsers
// @import "compass";
// @import '~compass-mixins/lib/compass/css3';
// @include filter-gradient(#1f3935, #294b49, horizontal); // IE6-9 fallback on horizontal gradient
// @include background-image(linear-gradient(left top, rgba(31,57,53,1) 0%,rgba(79,142,140,1) 42%,rgba(79,142,140,1) 45%,rgba(79,142,140,1) 50%,rgba(79,142,140,1) 50%,rgba(79,142,140,1) 53%,rgba(79,142,140,1) 60%,rgba(41,75,73,1) 100%));

.container {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 40px;

    h3 {
        margin-left: 30px;
        padding-top: 20px;
    }
}